.type-icon {
  font-size: 50px;
  float: left;
  padding-right: 10px;
  line-height: 57px;
}

.nowrap {
  white-space: nowrap;
}

.right {
  float: right;
}

.staff-roles {
  border: 1px solid #eee;
  border-radius: 6px;
}

.staff-roles .row {
  border-bottom: 1px solid #eee;
  padding: 6px;
}

.staff-roles .row.inherited {
  background-color: #eee;
}

.add-role-entry {
  background-color: #eef;
}

.add-role-entry .form-control {
  height: 30px;
  padding: 6px;
}

.add-role-entry .btn {
  padding: 6px;
  line-height: 1.07;
}

.remove-role {
  cursor: pointer;
}

.selected-tree-obj {
  background-color: #eef;
}

.set-auth-form > h3 {
  margin-top: 4px;
}

#tree_view {
  padding-top: 20px;
  overflow-y: auto;
}

.tree-object h4 {
  white-space: nowrap;
  margin-bottom: 4px  ;
}

.tree-object-data {
  cursor: pointer;
  padding-bottom: 2px;
}

.tree-object-data h4 {
  margin-top: 5px;
}

.tree-object-data .checkbox {
  margin: 0;
}

.tree-object-data .label {
  margin-right: 8px;
}

.tree-object-data > div {
  white-space: nowrap;
}

.tree-object-data label {
  font-weight: 400;
  font-size: 13px;
}

.tree-object-data input[type='checkbox'] {
  vertical-align: -6%;
}

.access-badge-box {
  display: inline-block;
}

.tree-children .tree-children {
  margin-left: 46px;
}

.not-visible {
  opacity: 0.5;
}

.not-visible .not-visible {
  opacity: 1;
}

#agent_details {
  display: none;
}