<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="acl-tree.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="user-templates.js"></script>
  <script src="acl-tree.js"></script>
  <script type="text/template" id="container_template">
    <div class="tree-object">
      <div class="row tree-object-data tree-<%= tobj.data.resourceType %>">
        
        <div class="col-xs-12">
          <div class="type-icon">
            <i class="fa fa-<%= icon %>"></i> 
          </div>
          
          <h4><%= tobj.data.title %></h4>
          <% if (tobj.data.resourceType != "Unit" && tobj.data.resourceType != "Collection") { %>
            <label>
              <input type="checkbox" name="checkPrivate" <%= tobj.acls.private? "checked": "" %>> private
            </label>
          <% } %>
          <div class="access-badge-box">
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-12 tree-children">
        </div>
      </div>
    </div>
  </script>
  
  <script type="text/template" id="container_settings">
    <div>
      <h2>Settings for <%= tobj.data.resourceType %></h2>
      <h3><%= tobj.data.title %></h3>
      <hr/>
      <% if (tobj.data.resourceType != "Unit" && tobj.data.resourceType != "Collection") { %>
        <% if (tobj.acls.private) { %>
          <span class="label label-primary">Marked as Private</span>
        <% } else if (tobj.computedAcls.private) { %>
          <span class="label label-default">Private because of parent</span>
        <% } else { %>
          <span class="label label-success">Public</span>
        <% } %>
        
        <% if (tobj.visibility) { %>
          <span class="label label-success">Visible to current user</span>
        <% } else { %>
          <span class="label label-success">Hidden from current user</span>
        <% } %>
      <% } %>
      
      <% if (canEdit && tobj.data.resourceType != "Unit") { %>
        <h3>Access for Public Items</h3>
        <div class="radio">
          <label>
            <input type="radio" name="everyoneRadio" value="public_disco" <%= tobj.acls.everyone == "public_disco"? "checked": "" %>>
            Public objects are discoverable by everyone
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="everyoneRadio" value="public_full" <%= tobj.acls.everyone == "public_full"? "checked": "" %>>
            Public objects are fully accessible by everyone
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="everyoneRadio" value="authenticated" <%= tobj.acls.everyone == "authenticated"? "checked": "" %>>
            Public objects are fully accessible by authenticated users
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="everyoneRadio" value="private" <%= tobj.acls.private? "checked": "" %>>
            No public access
          </label>
        </div>
      <% } %>
    
      <form class="add-role-form form-inline">
        <h3>Staff Permissions</h3>
        
        <div class="staff-roles container-fluid">
          <div class="staff-roles-list">
          </div>
          
          <% if (canEdit) { %>
            <div class="row add-role-entry">
              <div class="form-group col-xs-12">
                <input type="text" class="form-control" name="agentName" placeholder="Enter user or group"> 
                <select class="form-control" name="roleValue">
                  <% if (tobj.data.resourceType != "Unit") { %>
                    <option value="discover">can discover</option>
                    <option value="download">can download</option>
                  <% } %>
                  <option value="describe">can describe</option>
                  <option value="ingest">can ingest</option>
                  <option value="manage">can manage</option>
                  <% if (tobj.data.resourceType == "Unit") { %>
                    <option value="owner">is Unit Owner</option>
                  <% } %>
                </select>
                <input class="btn btn-primary" name="addRoleButton" type="submit" value="Add">
              </div>
            </div>
          <% } %>
        </div>
      </form>
    </div>
  </script>
  
  <script type="text/template" id="staff-roles-template">
    <div>
      <% _.each(inheritedRoles, function(roleValue, agentName) { %>
        <div class="row inherited">
          <div class="col-xs-12">
            <%= agentName %>
            <div class="right nowrap">
              <% if (roleValue == "owner") { %>
                <span class="label label-default">is Unit Owner</span>
              <% } else { %>
                <span class="label label-default">can <%= roleValue %></span>
              <% } %>
            </div>
          </div>
        </div>
      <% }) %>
      
      <% _.each(tobj.acls.roles, function(roleValue, agentName) { %>
        <div class="row role-entry" data-agent="<%= agentName %>">
          <div class="col-xs-12">
            <%= agentName %>
            <div class="right nowrap">
              <select name="existingRoleValue">
                <% if (tobj.data.resourceType != "Unit") { %>
                  <option value="discover" <%= roleValue == "discover"? "selected" : "" %>>can discover</option>
                  <option value="download" <%= roleValue == "download"? "selected" : "" %>>can download</option>
                <% } %>
                <option value="describe" <%= roleValue == "describe"? "selected" : "" %>>can describe</option>
                <option value="ingest" <%= roleValue == "ingest"? "selected" : "" %>>can ingest</option>
                <option value="manage" <%= roleValue == "manage"? "selected" : "" %>>can manage</option>
                <% if (tobj.data.resourceType == "Unit") { %>
                  <option value="owner" <%= roleValue == "owner"? "selected" : "" %>>is Unit Owner</option>
                <% } %>
              </select>
              <i class="fa fa-times remove-role"></i>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </script>
  
</head>
<body>
  <div class="container-fluid">
    <div class="col-xs-12">
      <span>dataset: <select id="dataset" name="dataset">
          <option value="authenticated-access.json">UNC only files</option>
          <option value="private-coll.json">Collection publishing ex.</option>
          <option value="faculty-works.json">RLA and AAPA collections</option>
          <option value="rla.json">RLA collection</option>
        </select>
      </span>
      <form class="form-inline set-auth-form">
        <div class="form-group">
          Select a perspective
          <select id="agent_template"></select>
          <a id="view_agent_details">view details</a>
          <p id="agent_details">
            <label>User</label> <input type="text" id="auth_user" value="" />
            <label>Groups</label> <input type="text" id="auth_groups" value="everyone" />
            <input type="submit" id="auth_set" class="btn btn-primary" value="Set">
          </p>
        </div>
      </form>
    </div>
    <div id="settings_container" class="col-xs-4">
    </div>
    <div id="tree_view" class="col-xs-8">
      <div id="tree_root" class="container-fluid">
        <div class="tree-children">
        </div>
      </div>
    </div>
  </div>
</body>
</html>